/* Write your CSS here */
.slider {
  display: flex;
}
.popup-content {
  background-color: #ffffff;
  width: 750px;
  height: 460px;
  border-radius: 16px;
}
.modal-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: white;
}
.btn {
  align-self: flex-end;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}
.movies-cont {
  margin-top: 12px;
  margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 48px;
}
